body {
    background: red;
}
h1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
}
